<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Kawura sign-up-page</title>
   <link rel="stylesheet" href="./Assets/css/style.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <script src="https://kit.fontawesome.com/9df45a9d7e.js" crossorigin="anonymous"></script>
</head>
<body>
   <div class="section-sign-up">
      <div class="row sign-up">
         <div class="col-sm-6 col-md-5">
            <img src="./Assets/Images/kawura-logo.png" class="signup-logo" alt="kawura">
         </div>
         <div class="col-md-1 vertical-line"></div>
         <div class="col-sm-6 col-md-6">
            <h2 class="form-head">SIGN UP ON KAWURA</h2>
            <div v-if="!submitted">
               <form action="post" class="form">
                  <div class="input-icons">
                     <i class="far fa-user-circle icon"></i>
                     <input type="text" class="form-control" placeholder="Full Name" v-model="name"
                     v-bind:class="{'form-control':false, 'is-invalid' : !validName(name) && emailBlured}"
                     v-on:blur="emailBlured = true">
                     <div class="invalid-feedback">Name is required</div>
                  </div>
                  <div class="input-icons">
                     <i class="far fa-envelope icon"></i>
                     <input type="email"  class="form-control" placeholder="Email Address" v-model="email" 
                     v-bind:class="{'form-control':true, 'is-invalid' : !validEmail(email) && emailBlured}"
                     v-on:blur="emailBlured = true">
                     <div class="invalid-feedback">A valid email is required</div>
                  </div>
                  <div class="input-icons password">
                     <i class="fas fa-lock icon"></i>
                     <input type="password" class="form-control" placeholder="Password" v-model="password"
                     v-bind:class="{'form-control':true, 'is-invalid' : !validPassword(password) && emailBlured}"
                     v-on:blur="emailBlured = true">
                     <div class="invalid-feedback">Password is required</div>
                  </div>
                  <button type="submit" v-on:click.stop.prevent="submit"  class="btn btn-signup">Sign Up</button>
               </form>
            </div>
            <!-- <div v-else="submitted" class="alert alert-success" role="alert">
               <h5>Thank you</h5>
               <p>Your Registration was a success!</p>
            </div> -->
            <p class="text-center text-account">Already have an account? 
               <span><a href="sign-in.html" > Sign-in</a> </span></p>
            <div class="text-option ">
               <div class="right-line"></div>
               <p class="text-center"> OR </p>
               <div class="right-line"></div>
            </div>
            <div class="text-center">
               <button class="btn btn-google">
                  <i class="fab fa-google"></i> 
                  <span class="btn-text">Sign Up with Google</span>
               </button>
               <button class="btn btn-facebook">
                  <i class="fab fa-facebook-square"></i>
                 <span class="btn-text"> Sign Up with Facebook</span>
               </button>
            </div>
         </div>
   </div>

    <!-- javascript base -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src="./Assets/script/customVue.js"></script>
</body>