h1, h2,h3,h4 {
   padding: 0 !important;
   margin: 0 !important;
}
body{
   overflow-x: hidden;
}
.custom-nav-course{
   width:95%; 
   margin:auto;
   padding-top: 20px !important;
}
.course-logo{
   width: 229px;
   height: 57.25px;
}
.course-header-layout{
   width: 85%;
   margin: 135px auto;
}
.course-header{
   color:#fff; 
   font-family: Gilroy-Bold;
   font-size: 50px;
   line-height: 60px;
}
.course-text{
   color:#fff; 
   font-family: Gilroy-Regular;
   font-size: 17px;
   line-height: 25px;
}
.header1{
   height:90vh;
   background-color:#113BEA ;
}
.title-bar{
   width:100%;
   height:70px;
   display:flex;
   background-color: #FFFFFF;
   box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
}
.webinar-box{
   width:120px;
   height:70px;
   border-bottom:2px solid #113BEA;;
   margin-left: 100px;
   padding-top: 25px;
}
.course-box{
   margin-left: 50px; 
   border-bottom:none;
}

.title-link{
   color: #113BEA;
   padding-left: 20px;
   font-family: Gilroy-Medium !important;
   font-size: 18px !important;
   line-height: 22px !important;
}

.title-link:hover{
   color:#1837E6;
   text-decoration: underline;

}
.course-card{
   width:100%;
   background-color:#F8FCFF;
   padding-top:60px;
   padding-bottom:60px;
}
.card-section{
   width:90%;
   margin:auto !important;
}
.card-section2{
   width:90%;
   margin: 50px auto !important;
}

.course{
   width: 17rem !important; 
   height: 400px !important;
   border:none !important;
   background-color: #BFCDDA !important;
}
.card-top{
   height:250px;
}
.card-title{
   font-family: Gilroy-Bold;
   font-size: 16px;
   line-height: 24px;
   color: #1E2B5E;
}
.card-top-one{
   height: 100px !important;
}
.card-detail{
   height: 300px;
   background-color:#fff !important ;
}
.card-body{
   height: 150px;
   background-color:#fff !important ;
}
.tutor-price{
   height:80px;
}
.img-container{
   float: left;
   width: 60%;
   margin-top: 20px;
}
.text-name{
   font-family: Gilroy-Medium;
   font-size: 15px;
   line-height: 16px;
   padding-left: 5px;
   color: #1E2B5E;
}
.text{
   float:right;
   margin-top: 38px;
   width: 40%;
   height:45px;
   font-family: Gilroy-Bold;
   font-size: 13px;
   line-height: 16px;
   color: #6BB81F;
}
.about-card{
   margin-top:15px;
   font-family: Gilroy-Regular;
   font-size: 14px;
   line-height: 17px;
   color: rgba(30, 43, 94, 0.7);
}
.redirect{
   padding-left: 30px;
   text-decoration: underline;
   text-underline-position: under;
   color:#000;
   font-family: Gilroy-Medium;
   font-size: 15px;
   line-height: 22px;
}
