.description-header{
   height:90vh;
   background-color:#FBFBFB;
}

.description-position{
   width:85% !important;
   margin:50px auto;
}

.text-media{
   height:50px;
   margin-top: 50px;
   display: flex;
}

.date{
   font-family: Gilroy-Medium;
   font-size: 16px;
   line-height: 24px;
   color: #6BB81F;
}
.lang-title{
   width:80%;
   font-family: Gilroy-Bold;
   font-size: 24px;
   line-height: 32px;
   color: #1E2B5E;
}
.media{
   width:20%;
   font-family: Gilroy-Bold;
   font-size: 16px;
   line-height: 24px;
   color: #1E2B5E;
}
.profile-picture{
   margin-top:10px;
   margin-bottom: 35px;;
}
.profile-name{
   padding-left: 10px !important;
   font-family: Gilroy-Medium;
   font-size: 14px;
   line-height: 16px;
   color: #1E2B5E;
}
.long-text{
   font-family: Gilroy-Regular;
   font-size: 16px;
   line-height: 24px;
   color: #1E2B5E;
}
.stars{
   margin-top:20px;
   margin-bottom: 20px;
}
.rating-number{
   padding-right:20px;
   font-family: Gilroy-Medium;
   font-size: 16px;
   line-height: 24px;
   color: #1E2B5E;
   }
.student-number{
   font-family: Gilroy-Medium;
   font-size: 16px;
   line-height: 24px;
   color: #1E2B5E;
}

.Enroll-container{
   height: 70px;
   margin-top:50px;
   background-color: #FFFFFF;
   box-shadow: 0px 18px 30px rgba(46, 55, 77, 0.04);
   border-radius: 5px;
   display:flex;
}
.likes{
   width:70%;
}
.enroll-text{
   width:15%;
   margin-top:17px;
   font-family: Gilroy-Medium;
   font-size: 16px;
   line-height: 24px;
   color: rgba(30, 43, 94, 0.7);
}
.button-box{
   width:15%;
   margin-top:17px;
}
.class-text{ 
   font-family: Gilroy-Bold;
   font-size: 20px;
   line-height: 28px;
   color: #1E2B5E;
}

.class-description{
   background-color:#FBFBFB;
}
.description-position2{
   width:85% !important;
   margin:40px auto;
}
.card-description{
   width:70%;
   margin:20px auto;
}
.circle-text{
   display:flex;
}

.card-descript1{
   width:70%;
   height:200px;
   background-color: #fff;
   border-radius:0.55rem;
   margin-bottom:30px
}

.card-firsttext{
   font-family: Gilroy-Bold;
   font-size: 20px;
   line-height: 28px;
   color: #1E2B5E !important;
   padding:30px !important;
}
.list-box{
   margin-left:35px;
}
.li-items{
   font-family: Gilroy-Medium;
   font-size: 14px;
   line-height: 17px;
   color: #1E2B5E;
   padding-bottom: 10px; 
   padding-left: 10px;
}
.circle-nos{
   width: 50px;
   height:50px;
   border: 3px solid #113BEA;
   border-radius: 100%;
   margin-right:30px;
   margin-left: 100px;
}
.number-img{
   margin-top: 12px;
   margin-left:15px;
}