h1, h2,h3,h4 {
   padding: 0 !important;
   margin: 0 !important;
}
@font-face {
   font-family: 'Gilroy-Bold';
     src: url('../fonts/Gilroy-Bold.eot'); /* IE9 Compat Modes */
     src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Gilroy-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Gilroy-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Gilroy-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Gilroy-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: 700;
     font-style: normal;
 }
 @font-face {
   font-family: 'Gilroy-Heavy';
     src: url('../fonts/Gilroy-Bold.eot'); /* IE9 Compat Modes */
     src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Gilroy-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Gilroy-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Gilroy-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Gilroy-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: 700;
     font-style: normal;
 }
 @font-face {
   font-family: 'Gilroy-Light';
     src: url('../fonts/Gilroy-Light.eot'); /* IE9 Compat Modes */
     src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Gilroy-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Gilroy-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Gilroy-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Gilroy-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight:300;
     font-style: normal;
 }
 @font-face {
   font-family: 'Gilroy-Medium';
     src: url('../fonts/Gilroy-Medium.eot'); /* IE9 Compat Modes */
     src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Gilroy-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Gilroy-Medium.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Gilroy-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Gilroy-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: 400;
     font-style: normal;
 }
 @font-face {
   font-family: 'Gilroy-Regular';
     src: url('../fonts/Gilroy-Regular.eot'); /* IE9 Compat Modes */
     src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Gilroy-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Gilroy-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Gilroy-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Gilroy-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: 500;
     font-style: normal;
 }
.header{
   height:670px;
   background-color:#ffffff ;
}
.custom-nav{
   width:90%; 
   margin:auto;
   padding-top: 30px !important;
}
.logo-img{
   width:124px;
   height:31px; 
}
.btn-sign-in{
   border: 1px solid #1E2B5E !important; 
   margin-right: 20px !important;
   border-radius: 4px !important;
   padding: 10px 23px !important;
}
.btn-sign-in > a{
   color: #1E2B5E !important;
   text-decoration-color: #1E2B5E !important;
   font-family: Gilroy-Medium;
   font-size: 14px;
   line-height: 22px;
}
.btn-sign-up{
   background-color: #113BEA !important;
   border-radius: 4px !important;
   padding: 10px 23px !important;
}
.btn-sign-up > a{
   color: #FFFFFF !important;
   text-decoration-color: #1E2B5E !important;
   font-family: Gilroy-Medium;
   font-size: 14px;
   line-height: 22px;
}

.header-layout{
   width: 90%;
   margin: 100px auto;
}
.row-space{
   padding-left: 27px !important;
}

.header-text{
   font-family: Gilroy-Bold;
   font-size:45px;
   line-height:50px;
   color:#1E2B5E;
}
.header-color{
   color: #113BEA;
}

.header-sub-text{
   font-family: Gilroy-Regular;
   font-size: 16px;
   line-height: 22px;
   padding-bottom: 35px;
   color: rgba(30, 43, 94, 0.7);
}
.btn-create{
   background-color: #113BEA !important;
   margin-right: 32px !important;
   padding:16px 33px !important;
}
.btn-create > a{
   color:#FFFFFF !important;
   font-family: Gilroy-Medium;
   font-size: 15px;
   line-height: 22px;
}

.btn-enroll{
   border: 1px solid #1E2B5E !important; 
   padding:16px 33px !important;  
}
.btn-enroll > a{
   color: #1E2B5E !important;
   font-family: Gilroy-Medium;
   font-size: 15px;
   line-height: 22px;
}

.logo-box-header{
   height: 130px !important;
   background-color:#f5f5f5;
   border-radius: 15px;
   margin:100px auto;
   z-index:1;
}


.section-one{
   height: auto; 
   padding-top: 30px;
   padding-bottom:50px ;
   background-color: #113BEA;
}

.section-head{
   width:50%;
   margin: auto;
}
.section-title{
   font-family: Gilroy-Bold;
   font-size: 38px;
   line-height: 51px;
   color: #FFFFFF;
   text-align: center;
}
#line-img{
   background-image: url(../Images/Vector.png);
   background-position:right;
   background-repeat: no-repeat;
}

.section-content{
   width:80%;
   height:320px;
   margin:10px auto !important;
}
.class-box{
   height: 60px !important;
   padding:10px !important;
   background-color: #fff;
   border-radius: 67px;
   margin-left: 90px;
   margin-top: 150px;
}
.box-text{
   font-family: Gilroy-Medium;
   font-size: 14px;
   line-height: 22px;
   text-align: center;
}

.logo-box{
   height: 160px !important;
   padding:44px 48px !important;
   background-color: #fff;
   border-radius: 15px;
   margin-left: 150px;
   margin-top: 100px;
}
.img-logo-box{
   width: 100%;
   height: 100%;
   background-image: url(../Images/transparent-logo.png);
   background-position:center ;
   background-repeat: no-repeat;
   z-index: 1;
}
.stage-chart{
   height: 300px !important;
   background-color: #fff;
   padding: 10px !important;
   border-radius: 18.1px;
   margin-left: 150px;
   margin-top: 10px;
}
.bar{
   width:70%;
   height: 40px;
   border-radius:5px ;
   margin:15px auto !important;
   text-align: center;
}
.stage-text{
   color: #FFFFFF;
   font-family: Gilroy-Medium;
   font-size: 12px;
   line-height: 16px;
   padding: 7px !important;
}

.stage1{
   background-color: #6CB81F;
}
.stage2{
   background-color: #A4D375;
}
.stage3{
   background-color: #EAC117;
}
.stage4{
   background-color: #F0D258;
}
.stage5{
   background-color: #EE5627;
}

.btn-create-now{
   background-color: #FFFFFF !important;
   margin:auto !important ;
   padding:16px 33px !important;
}
.btn-create-now>a{
   font-family: Gilroy-Medium;
   font-size: 15px;
   line-height: 22px;
   color: #1E2B5E !important;
}

.btn-enroll-now{
   background-color: #113BEA !important;
   margin:20px auto !important ;
   padding:16px 33px !important;
   border-radius: 4px !important;
}
.btn-enroll-now>a{
   color: #ffffff !important;
   font-family: Gilroy-Medium;
   font-size: 15px;
   line-height: 22px;
}


.section-two{
   padding: 40px 100px;  
   height: auto;
   background-color: #F7FAFF;
}
.content-header{
   font-family: Gilroy-Bold;
   font-size: 38px;
   line-height: 51px;
   color: #1E2B5E;
   padding-top: 20px;
}
.content{
   margin-top: 30px;
}
.content1{
   padding-bottom:10px;
}
.content-title{
   font-family: Gilroy-Bold;
   font-size: 24px;
   line-height: 32px;
   color: #1E2B5E;
}
.content-text{
   font-family: Gilroy-Regular;
   font-size: 16px;
   line-height: 25px;
   color: #1E2B5E;
}
.section-three{
   padding: 40px 80px;  
   height: auto;
   background-color: #ffffff;
}

.section-Three-title{
   font-family: Gilroy-Bold;
   font-size: 38px;
   line-height: 51px;
   color: #1E2B5E;
   display: inline-block;
} 

.section-three-head,.section-three-body{
   width:90%;
   margin: auto;
}

.section-three-body{
   padding-top: 50px;  
   padding-bottom: 100px;
}
.card{
   width: 18rem !important; 
   height: 300px !important;
   background-color: #BFCDDA !important;
}

#line-three-img{
   background-image: url(../Images/Vector2.png);
   background-position:left;
   background-repeat: no-repeat;
}
#line-four-img{
    width: 40%;
    height: 30px;
    margin-top: -15px;
    margin-left: 20px;
    background-image: url(../Images/Vector3.png);
    background-position: left;
    background-repeat: no-repeat;
}
.link-text{
   font-family: Gilroy-Medium;
   font-size: 15px !important;
   line-height: 22px;
   color: rgba(30, 43, 94,0.7) !important;
   text-decoration: none !important;
   float: right;
}
.section-four{
   padding: 60px 70px;  
   height: 500px;
   background-color: #F7FAFF;
}
.section-head-box{
   width:70%;
   margin: auto;
}
.top-box{
   width:90%;
   height:auto;
   padding:50px 20px;
   margin:-130px auto;
   border-radius:10px;
   background-color: #113AEA;
}
.topbox-content{
   color:#ffffff;
   font-family: Gilroy-Medium;
   font-size: 18px;
   line-height: 24px;
   padding:25px;
}
.btn-getstart{
   background-color:#ffffff  !important;
   margin:auto !important ;
   padding:16px 33px !important;
}
.btn-getstart>a{  
   font-family: Gilroy-Medium;
   font-size: 15px;
   line-height: 22px;
   color: #113BEA !important;
}
.footer-text{
   font-family: Gilroy-Medium;
   font-size: 15px;
   line-height: 22px;
}




// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
   .navbar-toggler{
      display: none;
   }
   .nav-btn{
      display: inline;
   }
}

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
   .header{
      height:auto;
      padding-bottom: 30px;
   }
   .header-layout{
      width: 90%;
      margin: 0px;
   }
   .row-space {
      padding: auto !important;
  }
  .header-btn{
     display: flex;
  }
  .logo-box{
   width:95% !important;
   margin: auto;
  }
  .btn-create,.btn-enroll{
   padding:7px 7px !important;
  }
  .btn-create > a,.btn-enroll> a{
     font-size:13px !important;
     
  }
  .logo-box-header{
     margin:20px auto !important;
  }
  .header-sub-text {
     padding-bottom:5px;
  }
  .section-head{
     width:82%;
  }
  .section-title{
     font-size: 27px;
     line-height: 32px;
     text-align: left;
  }
  .class-box{
   margin: 10px auto;
  }
  .box-text{
     font-size: 16px;
  }
  .stage-chart{
     margin: 10px auto; 
  }
  .section-one{
     height: 750px;
  }
  .section-two{
   padding: 40px 20px;
  }
  .section-three{
   padding: 40px 10px;
  }
  .card{
   width: 90% !important;
   margin: 15px;
  }
  .section-four{
   padding: 40px 20px;
  }
  .top-box{
     width:90%;
  }
  a, .link-text{
     
     float:left
  }
  .custom-nav{
     width:100%;
  }
  .nav-btn{
     display: none;
  }
  .navbar-toggler{
   display:list-item;
   padding: 0px !important;
   }
   .navbar-icon{
      width: 35px;
      height: 3px;
      background-color: black;
      margin: 6px 0;
   }
   .nav-item{
      padding:5px 5px;
   }

  
}

// Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) { ... }
