h1, h2,h3,h4 {
   padding: 0 !important;
   margin: 0 !important;  
}
.section-sign-up{
   height:600px;
   background-color:#ffffff;
   overflow-x: hidden;
}
.sign-up{
   padding:147px 100px;
}
.img-line{
   border-right: 0.2px solid #1E2B5E;
}
.signup-logo{
   width:403px;
   height:101px;
   margin-top:100px;
}
.form-head{
   font-family: Gilroy-Bold;
   font-size: 18px;
   line-height: 24px;
   color: #1E2B5E;
   text-align: center;
}