h1, h2, h3, h4 {
  padding: 0 !important;
  margin: 0 !important; }

.header {
  height: 650px;
  background-color: #E5E5E5; }

.custom-nav {
  width: 90%;
  margin: auto;
  padding-top: 30px !important; }

.logo-img {
  width: 124px;
  height: 31px; }

.btn-sign-in {
  border: 1px solid #1E2B5E !important;
  margin-right: 20px !important; }

.btn-sign-in, a {
  color: #1E2B5E !important;
  text-decoration-color: #1E2B5E !important; }

.btn-sign-up {
  background-color: #113BEA !important;
  color: #FFFFFF !important; }

.btn-sign-up, a {
  color: #FFFFFF !important;
  text-decoration-color: #1E2B5E !important; }

.header-layout {
  width: 90%;
  margin: 100px auto; }

.row-space {
  padding-left: 27px !important; }

.header-text {
  font-size: 45px;
  line-height: 50px; }

.header-sub-text {
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 35px; }

.btn-create {
  background-color: #113BEA !important;
  margin-right: 20px !important;
  padding: 10px 10px !important; }

.btn-create > a {
  color: #FFFFFF !important; }

.btn-enroll {
  border: 1px solid #1E2B5E !important;
  padding: 9px 10px !important; }

.btn-enroll > a {
  color: #1E2B5E !important; }

.section-one {
  height: auto;
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: #113BEA; }

.section-head {
  width: 40%;
  margin: auto; }

.section-title {
  font-size: 30px;
  color: #FFFFFF;
  line-height: 45px; }

#line-img {
  background-image: url(../Images/Vector.png);
  background-position: right;
  background-repeat: no-repeat; }

.section-content {
  width: 80%;
  height: 400px;
  margin: 50px auto !important; }

.class-box {
  height: 70px !important;
  padding: 10px !important;
  background-color: #fff;
  border-radius: 40px;
  margin-left: 90px;
  margin-top: 150px; }

.box-text {
  font-size: 14px;
  text-align: center;
  padding: 5px !important; }

.logo-box {
  height: 180px !important;
  padding: 10px !important;
  background-color: #fff;
  border-radius: 15px;
  margin-left: 150px;
  margin-top: 100px; }

.img-logo-box {
  width: 100%;
  height: 100%;
  background-image: url(../Images/transparent-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1; }

.stage-chart {
  height: 350px !important;
  background-color: #fff;
  border-radius: 40px;
  margin-left: 150px;
  margin-top: 20px;
  padding: 10px !important; }

.bar {
  width: 70%;
  height: 40px;
  border-radius: 5px;
  margin: 20px auto !important;
  text-align: center; }

.stage-text {
  font-size: 14px;
  padding: 7px !important; }

.stage1 {
  background-color: #6CB81F; }

.stage2 {
  background-color: #A4D375; }

.stage3 {
  background-color: #EAC117; }

.stage4 {
  background-color: #F0D258; }

.stage5 {
  background-color: #EE5627; }

.btn-create-now {
  background-color: #FFFFFF !important;
  margin: auto !important;
  padding: 10px 10px !important; }

.btn-create-now > a {
  color: #1E2B5E !important; }

.btn-enroll-now {
  background-color: #113BEA !important;
  margin: auto !important;
  padding: 10px 10px !important; }

.btn-enroll-now > a {
  color: #ffffff !important; }

.section-two {
  padding: 60px 100px;
  height: auto;
  background-color: #F7FAFF; }

.content-header {
  font-size: 24px;
  line-height: 24px;
  padding-top: 20px; }

.content {
  margin-top: 40px; }

.content1 {
  padding-bottom: 5px; }

.content-title {
  font-size: 26px;
  font-weight: 600; }

.content-text {
  padding: 15px 1px;
  font-size: 16px; }

.section-three {
  padding: 60px 70px;
  height: auto;
  background-color: #ffffff; }

.section-Three-title {
  font-size: 30px;
  color: #1E2B5E;
  line-height: 45px;
  display: inline-block; }

.section-three-head, .section-three-body {
  width: 90%;
  margin: auto; }

.section-three-body {
  padding-top: 50px;
  padding-bottom: 100px; }

#line-three-img {
  background-image: url(../Images/Vector2.png);
  background-position: left;
  background-repeat: no-repeat; }

#line-four-img {
  width: 40%;
  height: 30px;
  margin-top: -15px;
  margin-left: 20px;
  background-image: url(../Images/Vector3.png);
  background-position: left;
  background-repeat: no-repeat; }

a, .link-text {
  font-size: 16px !important;
  color: rgba(30, 43, 94, 0.7) !important;
  text-decoration: none !important;
  float: right; }

.section-four {
  padding: 60px 70px;
  height: 500px;
  background-color: #F7FAFF; }

.section-head-box {
  width: 50%;
  margin: auto; }

.top-box {
  width: 90%;
  height: auto;
  padding: 50px 20px;
  margin: -130px auto;
  border-radius: 10px;
  background-color: #113AEA; }

.topbox-content {
  color: #ffffff;
  padding: 25px; }

.btn-getstart {
  background-color: #ffffff  !important;
  margin: auto !important;
  padding: 12px 12px !important; }

.btn-getstart > a {
  color: #113BEA !important; }

.card {
  width: 18rem !important;
  height: 300px !important;
  background-color: #BFCDDA !important; }

@media (max-width: 575.98px) {
  .header {
    height: auto;
    padding-bottom: 30px; }

  .header-layout {
    width: 90%;
    margin: 0px; }

  .row-space {
    padding: auto !important; }

  .header-btn {
    display: flex; }

  .logo-box {
    margin: auto; }

  .btn-create > a, .btn-enroll > a {
    font-size: 13px !important; }

  .header-sub-text {
    padding-bottom: 5px; }

  .section-head {
    width: 100%; }

  .section-title {
    font-size: 27px;
    line-height: 32px; }

  .class-box {
    margin: 10px auto; }

  .box-text {
    font-size: 16px; }

  .stage-chart {
    margin: 10px auto; }

  .section-one {
    height: 900px; }

  .section-two {
    padding: 40px 20px; }

  .section-three {
    padding: 40px 20px; }

  .card {
    width: 16rem !important;
    margin-bottom: 20px; }

  .section-four {
    padding: 40px 20px; }

  .top-box {
    width: 100%; }

  a, .link-text {
    float: left; } }

/*# sourceMappingURL=style.css.map */
